{% extends "base.html" %}

{% block main %}
<div class="grid">
    <div></div>
    <div>
        <form action="/login" method="POST">
            <label class="label">Username</label>
            <input name="username" class="input" type="text" placeholder="Username">

            <label class="label">Password</label>
            <input name="password" class="input" type="password" placeholder="Password">

            <input type="submit" class="button is-danger" value="Sign In"></input>
            Not signed up yet? <a href="/create_account">Create account</a>
        </form>
    </div>
    <div></div>
</div>
{% endblock %}